<div class="d-flex text-center">
    <h1>投稿一覧</h1>
    <div class="ml-auto boards_button">
        <a class="btn btn-outline-info" href="/boards/new" role="button">投稿</a>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm boards_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">投稿タイトル</th>
      <th scope="col">投稿者</th>
      <th scope="col">更新内容</th>
    </tr>
  </thead>
  <% @boards.each do |board| %>
    <tr>
      <td><%= board.title %></td>
      <td><%= board.name %></td>
      <td><%= board.content %></td>
    </tr>

    <%= link_to("編集", "/boards/#{@board.id}/edit") %>
    <%= link_to("削除", "/boards/#{@board.id}/destroy", {method: "board"}) %>

    <%= link_to '削除', "/boards/#{board.user_id}", method: :delete %>
  <% end %>
</table>
