<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <title>Mydevelop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <header class="main-header">


      <li class="logo">
        <%= link_to root_path do %>
          <p class="logo-lg">ホーム</p>
        <% end %>
      </li>

      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <ul class="nav navbar-nav navbar-right"　style="letter-spacing: 1px;">
          <a href="#" class="header-favorite" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <% if logged_in? %>
            <li>
              <div class="css-fukidashi">
                <div class="text">
                  <a href= "/posts/index">
                    <i class="fa fa-flushed"></i>
                    <span class="pull-right-container"></span>
                  </a>
                </div>
                <p class="fukidashi">お気に入り</p>
              </div>
            </li>

            <li>
              <div class="css-fukidashi">
                <div class="text">
                  <a href= "/posts/new">
                    <i class="fa fa-edit"></i>
                    <span class="pull-right-container"></span>
                  </a>
                </div>
                <p class="fukidashi">投稿する</p>
              </div>
            </li>
            <li class="logout">
              <%= link_to logout_path, method: :delete do %>
                <p>ログアウト</p>
              <% end %>
            </li>
          <% else %>

            <li>
              <%= link_to '会員登録', new_user_path, class: 'btn btn-block btn-white' %>
            </li>
            <li>
              <%= link_to login_path do %>
                <p>ログイン</p>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">

        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li>
            <a href= "/abouts/index">
              <i class="fa fa-exclamation-circle"></i> <span>このサイトとは</span>
            </a>
          </li>
          <li>
            <a href= "/posts/index">
              <i class="fa fa-eye"></i> <span>調べる</span>
            </a>
          </li>
          <li>
            <a href= "/posts/new">
              <i class="fa fa-comment-dots"></i> <span>共有</span>
            </a>
          </li>
          <li>
            <a href= "/boards">
              <i class="fa fa-comment-alt"></i> <span>掲示板</span>
            </a>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <%= yield %>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <script>
        $(function(){
            $(".alert").fadeOut(5000);
        });
    </script>
  </body>

  <footer class="main-footer">
    <p class="footer-logo">FUKU</p>
    <p class="footer-sub">食の安全と安心</p>
    <nav role="navigation" class="nav">
      <div class="foot">
        <%= link_to 'よくある質問', qandas_index_path %>
      </div>
      <div class="foot">
        <%= link_to 'お問い合わせ', contacts_index_path %>
      </div>
      <div class="foot">
        <%= link_to 'サイトマップ', sitemaps_index_path %>
      </div>
      <div class="foot">
        <%= link_to '規約', tests_index_path %>
      </div>
    </nav>
  </footer>
</html>
